{:own []

 :foreign {
           witek/figwheel-main-include {:local/root "../figwheel-main-include"}

           org.clojure/clojurescript   {:mvn/version "1.10.520"}
           thheller/shadow-cljs        {:mvn/version "RELEASE"}
           re-frame                    {:mvn/version "0.11.0-rc1"}}}
           ;; cljsjs/material-ui          {:mvn/version "4.4.3-0"}
           ;; cljsjs/material-ui-icons    {:mvn/version "4.4.1-0"}
           ;; cljsjs/create-react-class   {:mvn/version "15.6.3-1"}}}
